<ion-view view-title="Menu" class="app-view app-view-main-menu">
  <ion-content>
	
	<div class="app-list-container">
		<div class="app-menu-list">
			<a class="item-intro item item-icon-left" href="#/app/intro">
				<i class="icon ion-mic-b"></i>
				<span class="item-text">Intro</span>
			</a>

			<a class="item-quiz item item-icon-left" ng-click="enterQuiz()">
				<i class="icon ion-ios-color-filter-outline"></i>
				<span class="item-text">Find your colours</span>
			</a>

			<a class="item-season item item-icon-left" href="#/app/seasons">
				<i class="icon ion-leaf"></i>
				<span class="item-text">Seasons</span>
			</a>

			<a class="item-disclaimer item item-icon-left" href="#/app/disclaimer">
				<i class="icon ion-ios-information-outline"></i>
				<span class="item-text">Disclaimer</span>
			</a>
	  	</div>
	</div>
  	
  </ion-content>
</ion-view>
