<ion-view view-title="Seasons" class="app-view">
  <ion-content padding="true">

  	<div class="list">
		<a class="item item-thumbnail-left" href="#/app/jewellery-tone">
			<img src="cover.jpg">
			<h2>Spring</h2>
		</a>

		<a class="item item-thumbnail-left" href="#">
			<img src="cover.jpg">
			<h2>Summer</h2>
		</a>

		<a class="item item-thumbnail-left" href="#">
			<img src="cover.jpg">
			<h2>Autumn</h2>
		</a>

		<a class="item item-thumbnail-left" href="#">
			<img src="cover.jpg">
			<h2>Winter</h2>
		</a>

  	</div>
    
  </ion-content>
</ion-view>
